<app-header-mini></app-header-mini>
<div class="container py-5">
    <h1 class="title text-left">Sobre nós</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3 class="title text-left mt-4">
                Somos uma empresa especializada em desenvolvimento urbano.
            </h3>
            <p class="text-justify mt-3">
                Dedicada a oferecer ao mercado, empreendimentos adequados às necessidades de cada cidade em que se insere. Nossos profissionais, com mais de 30 anos de experiência, possuem elevada capacidade técnica e administrativa, consolidadas a partir da constante
                evolução dos empreendimentos que realizamos.
            </p>
            <p class="text-left lead">A Projeto Mosaico atua em todas as etapas de implantação dos loteamentos:</p>
            <ul class="list-unstyled text-left">
                <li>Identificação e compra de terrenos em localizações estratégicas;</li>
                <li>Aprovação e legalização do projeto urbanístico junto às prefeituras locais;</li>
                <li>Obras civis e de infraestrutura;</li>
                <li>Comercialização dos lotes;</li>
                <li>Financiamento próprio para o cliente final.</li>
            </ul>
            <br />
            <h3 class="title text-left mt-4">Nossos produtos:</h3>
            <p class="lead text-left">LOTEAMENTOS ABERTOS - BAIRROS PLANEJADOS - CONDOMÍNIOS</p>
            <p class="text-left">
                Conjunto de lotes, com infraestrutura completa de urbanização, espaço reservados para praças, e/ou equipamentos comunitários.
            </p>
            <p class="text-left">
                Nossos condomínios são cercado por muros, oferecem acesso controlado por guarita e área de lazer completa e restrita aos moradores.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-empreedimento></app-empreedimento>
        </div>
    </div>
</div>
<app-subscribe></app-subscribe>