<!--Carousel Wrapper-->
<mdb-carousel class="carousel slide carousel-fade" 
  [isControls]="false" 
  [interval]='5000' 
  [noPause] = "true"
  [animation]="'fade'">
  <mdb-slide *ngFor = 'let item of dados'>
    <a target="_blank" href="{{item.link}}">
    <img class="d-block w-100" src="{{item.image}}" alt="{{item.title}}">
    </a>
  </mdb-slide>
</mdb-carousel>
<!--/.Carousel Wrapper-->
