<footer class="page-footer elegant-color-dark darken-4 text-center text-md-left">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-3">
                <h5 class="title">A Projeto Mosaico</h5>
                <hr>
                <p>Somos uma empresa especializada em desenvolvimento urbano.</p>
                <img src="./assets/imgs/logo_branco.png" alt="" width="70%" class="text-center logo_footer">
            </div>
            <!--hr class="hidden-md-up"-->
            <div class="col-md-2">
                <h5 class="title">Navegação</h5>
                <hr>
                <ul class="list-unstyled">
                    <li>
                        <a appScroll routerLink="/sobre">Sobre</a>
                    </li>
                    <li>
                        <a appScroll routerLink="/blog">Blog</a>
                    </li>
                    <li>
                        <a appScroll routerLink="/materiais">Materiais</a>
                    </li>
                    <li>
                        <a appScroll routerLink="/contato">Fale conosco</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://grupozpar-portalcliente.sienge.com.br/authentication/signin">Area do Cliente</a>
                    </li>
                </ul>
            </div>
            <hr class="hidden-md-up">
            <div class="col-md-3">
                <h5 class="title">Empreedimento</h5>
                <hr>
                <ul class="list-unstyled">
                    <li>
                        <a appScroll routerLink="/adiantadas">Obras Adiantadas</a>
                    </li>
                    <li>
                        <a appScroll routerLink="/lancamento">Lançamentos</a>
                    </li>
                    <li>
                        <a appScroll routerLink="/construir">Pronto para construir</a>
                    </li>
                    <li>
                        <a appScroll routerLink="/outros">Outros Empreedimentos</a>
                    </li>
                </ul>
            </div>
            <hr class="hidden-md-up">
            <div class="col-md-4">
                <h5 class="title">Contatos</h5>
                <hr>
                <ul class="list-unstyled">
                    <li>
                        <strong>Escritório central: </strong>11 3811-3112
                    </li>
                    <li>
                        <strong>Vendas Mogi das Cruzes: </strong>11 4792-4887
                    </li>
                    <li>
                        <strong>Vendas Manaus: </strong>92 3584-6668
                    </li>
                    <li>
                        <strong>SAC: </strong>0800 0420336
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        <div class="text-center mb-3">
            <a style="margin: 0 10px" target="_blank" href="https://www.facebook.com/projetomosaicoemp/?hc_ref=ARRKGLIwtqWaD2yZUwb_TzfLykmUlPd9JJLu8oONW5S67buuVU17ItfPZSTcGG313RY&fref=nf" class="btn-floating btn-small btn-fb waves-light">
                <i class="fa fa-facebook"> </i>
            </a>
            <a style="margin:0 10px" target="_blank" href="https://www.instagram.com/projeto.mosaico/" class="btn-floating btn-small btn-ins waves-light">
                <i class="fa fa-instagram"> </i>
            </a>
            <a style="margin:0 10px" target="_blank" href="https://www.youtube.com/channel/UCJq1zfM5BJoc7NpP3oIjMZQ" class="btn-floating btn-small btn-ins waves-light">
                <i class="fa fa-youtube-play"> </i>
            </a>
        </div>
        <div class="container-fluid">
            © 2018 Copyright:
            <a target="_blank" href="https://www.vanguardacomunicacao.com.br"> Vanguarda Comunicação </a>
        </div>
    </div>
</footer>
<script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/338e7cbd-885c-4197-9388-87bcb5781b16-loader.js"></script>
