app-footer{
    .logo_footer{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        width: 40%;
        margin: 0 auto;
    }
    .title{
        font-bold: bold;
    }
}