<app-header-mini></app-header-mini>
<div class="container py-5">
  <h1 class="title text-left">Serra</h1>
  <h1 class="title py-3">Ficha técnica</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Categoria:</span>
          Loteamento
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Produto:</span>
          288 Terrenos a partir de 250m²
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Segurança: </span>
          Portaria e fechamento perimetral de todo o condomínio.
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Lazer e Infra Estrutura: </span>
          Campo de futebol, quadra de vôvei de areia, playground, quiosque, pista de cooper.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Status da Obra: </span><br />
            <strong>Entregue</strong>
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Endereço: </span>
          AV. Prefeito Francisco Nogueira, 2314 - Km 57,5 da Rodovia Mogi-Bertioga
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container space">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title py-3">Galeria</h1>
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-slide *ngFor="let number of [1,2,3,4,5,6,7,8,9]">
          <img class="d-block w-100" src="./assets/imgs/daserra/{{number}}.jpg" alt="Da Serra">
        </mdb-slide>
      </mdb-carousel>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <h1 class="title py-3">Acompanhamento das obras</h1>
    <div class="progress">
<div class="progress-bar bg-info" style="width: 100%; font-weight: bolder;" role="progressbar" aria-valuenow="100" aria-valuemin="0"
  aria-valuemax="100">
        <strong>LIMPEZA E TERRAPLENAGEM
<span class="pull-right" style="font-weight: 400; margin-right: 10px;">100%</span>
        </strong>
      </div>
    </div>
    <div class="progress">
<div class="progress-bar bg-info" style="width: 100%; font-weight: bolder;" role="progressbar" aria-valuenow="70" aria-valuemin="0"
  aria-valuemax="100">
        <strong>REDES (ÁGUA, ESGOTO, ELETRICIDADE)
<span class="pull-right" style="font-weight: 400; margin-right: 10px;">100%</span>
        </strong>
      </div>
    </div>
    <div class="progress">
<div class="progress-bar bg-info" style="width: 100%; font-weight: bolder;" role="progressbar" aria-valuenow="30" aria-valuemin="0"
  aria-valuemax="100">
        <strong>PAVIMENTAÇÃO
<span class="pull-right" style="font-weight: 400; margin-right: 10px;">100%</span>
        </strong>
      </div>
    </div>
    <div class="progress">
<div class="progress-bar bg-info" style="width: 100%; font-weight: bolder;" role="progressbar" aria-valuenow="20" aria-valuemin="0"
  aria-valuemax="100">
        <strong>EDIFICAÇÕES
<span class="pull-right" style="font-weight: 400; margin-right: 10px;">100%</span>
        </strong>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <app-empreedimento></app-empreedimento>
  </div>
</div>
<app-subscribe></app-subscribe>
  