<app-header-mini></app-header-mini>
<div class="container py-5">
    <h1 class="title text-left">Fale Conosco</h1>
    <hr>
    <div class="row">
        <div class="col-md-6 text-left">
            <form id="contato">
            <div class="md-form">
                <input [mdbValidate]="false" mdbInputDirective type="text" [(ngModel)]="news.nome" id="form1" class="form-control">
                <label for="form1">Nome</label>
            </div>
            <div class="md-form">
                <input [mdbValidate]="false" mdbInputDirective type="email" [(ngModel)]="news.email" id="form2" class="form-control">
                <label for="form2">Email</label>
            </div>
            <div class="md-form">
                <input [mdbValidate]="false" mdbInputDirective type="tel" [(ngModel)]="news.telefone" id="form3" class="form-control">
                <label for="form3">Telefone</label>
            </div>
            <div class="md-form">
                <select [mdbValidate]="false" mdbInputDirective class="select-wrapper custom-select " for="form9" [(ngModel)]="news.empreendimento">
                    <option class="filtrable" selected></option>
                    <optgroup label="Em andamento/Lançados">
                        <option class="filtrable" *ngFor="let i of optionsEmp" value="{{i.value}}">
                        {{i.label}}
                        </option>
                    </optgroup>
                    <optgroup label="Futuros lançamentos">
                        <option class="filtrable" *ngFor="let i of optionsLan" value="{{i.value}}">
                            {{i.label}}
                        </option>
                    </optgroup>
                </select>
                <label for="form9">Empreendimento</label>
            </div>
            <div class="md-form">
                <select [mdbValidate]="false" mdbInputDirective class="select-wrapper custom-select " for="form5" [(ngModel)]="news.assunto">
                    <option class="filtrable" selected></option>
                    <option class="filtrable" *ngFor="let i of optionsAssunto" value="{{i.value}}">
                        {{i.label}}
                    </option>
                </select>
                <label for="form5">Assunto</label>
            </div>
            <div class="md-form">
                <textarea [mdbValidate]="false" mdbInputDirective type="text" id="form4" [(ngModel)]="news.mensagem" class="md-textarea" 
                    style="height: 100px; width: 100%"></textarea>
                <label for="form4">Deixe sua mensagem</label>
            </div>

            <div class="text-center">
                <button class="btn btn-dark waves-light" (click)="save()" mdbWavesEffect>
                    <i class="fa fa-send"></i>
                    Fale Conosco
                </button>
            </div>
            </form>
        </div>
        <div class="col-md-6 text-justify">
            <br><br>
            <p>
                Conheça o endereço e principais formas de contato com a Projeto Mosaico. Entre em contato conosco através do nosso formulário, preencha todos os campos para melhor atendê-lo.
            </p>
            <br>
            <h5 class="title text-left"><strong>Endereço</strong></h5>
            <p>
                Avenida Brigadeiro Faria Lima, 2601, 5º Andar, Jardim Paulistano, São Paulo-SP, CEP 01452-924
            </p>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <h5 class="title text-left"><strong>Contatos</strong></h5>
                    <p>
                        SAC: 0800 0420336<br> Matriz: (11) 3811-3112 / 3811-3113
                    </p>
                    <br>
                    <h5 class="title text-left"><strong>Email</strong></h5>
                    <p>contato@projetomosaico.com.br</p>
                </div>
                <div class="col-md-6">
                    <h5 class="title text-left"><strong>Redes Sociais</strong></h5>
                    <p>
                        <a class="rs" href="https://www.facebook.com/projetomosaicoemp/?hc_ref=ARRKGLIwtqWaD2yZUwb_TzfLykmUlPd9JJLu8oONW5S67buuVU17ItfPZSTcGG313RY&fref=nf" target="_blank"><i class="fa fa-facebook-square fa-2x" style="color: #01579b"></i></a>
                        <a class="rs" href="https://www.instagram.com/projeto.mosaico/" target="_blank"><i class="fa fa-instagram fa-2x" style="color:#ad1457;"></i></a>
                        <a class="rs" href="https://www.youtube.com/channel/UCfpF6QARDUJYesFFJRmMgSg" target="_blank"><i class="fa fa-youtube-play fa-2x" style="color:#d50000;"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-subscribe></app-subscribe>
