<app-header-mini></app-header-mini>
<div class="container py-5">
  <h1 class="title text-left">Afife</h1>
  <h1 class="title py-3">Ficha técnica</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Categoria:</span>
 Edifício Comercial.
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Produto:</span>
 5.134m² área privativa.
        </p>
      </div>
<div class="item">
  <p class="title-emp text-left">
    <i class="fa fa-check" aria-hidden="true"></i>
    <span class="text">Unidades: </span>
 Andares com 603m² de área útil.
  </p>
</div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Vagas: </span>
 108 / 13 por andar.
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Outros: </span>
8 tipo + mezanino.</p>
      </div>
<div class="item">
  <p class="title-emp text-left">
    <i class="fa fa-check" aria-hidden="true"></i>
    <span class="text">Outros: </span>
Ar-condicionado central / elevadores / sprinklers / sala de monitoramento e segurança / 2 banheiros por andar / copa / luminárias
embutidas instaladas / cobertura diferenciada / acesso de fibra óptica.
  </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Status da Obra: </span>
          <br />
          <strong>Entregue</strong>
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Endereço: </span>
Av. Angélica, 2029 - Higienópolis - São Paulo - SP
        </p>
      </div>
<div class="item">
  <p class="title-emp text-left">
    <i class="fa fa-check" aria-hidden="true"></i>
<span class="text">Central de Vendas: </span>
(11) 3811-3100P </p>
</div>
    </div>
  </div>
</div>
<div class="container space">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title py-3">Galeria</h1>
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-slide *ngFor="let number of [1,2,3,4]">
          <img class="d-block w-100" src="./assets/imgs/afife/{{number}}.jpg" alt="360 JK">
        </mdb-slide>
      </mdb-carousel>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <app-empreedimento></app-empreedimento>
  </div>
</div>
<app-subscribe></app-subscribe>
