<app-header-mini></app-header-mini>
<div class="container py-5">
  <h1 class="title text-left">Cachoeirinha Business Park</h1>
  <h1 class="title py-3">Ficha técnica</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
<span class="text">Área Bruta Locável Total:</span>
 29.348 m².
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
<span class="text">Pé Direito Livre:</span>
          12m.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
<span class="text">Capacidade de Carga do Piso: </span>
 6 t/m² (nivelado a laser / laser leveled).
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
<span class="text">Quantidade de Docas: </span>
 4 docas por módulo.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Status da Obra: </span>
          <br />
          <strong>Pronto.</strong>
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
<span class="text">Modulação: </span>
Segurança 24 Horas, Prédio de Apoio a Motoristas, Portaria Blindada com Controle de Acesso, Vestiários, Restaurante, Serviços
Comuns, Estacionamento de Visitantes, Vagas de Espera para Carretas.
        </p>
      </div>
    </div>
  </div>
  <div class="container space">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title py-3">Galeria</h1>
        <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-slide *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]">
            <img class="d-block w-100" src="./assets/imgs/cachoerinha/{{number}}.jpg" alt="360 JK">
          </mdb-slide>
        </mdb-carousel>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <app-empreedimento></app-empreedimento>
    </div>
  </div>
  <app-subscribe></app-subscribe>
