img{
    width: 100%;
    margin: 0 auto;
}

#content{
    a{
        display: none;
    }
    img{
        max-width: 100%;
        width: 100% !important;
        height: auto;
        margin-bottom: 10px;
    }
    p {
        a {
            display: none;
        }
        strong{
            a {
                display: none;
            }
        }
        img {
            max-width: 100%;
            width: 100% !important;
            height: auto;
        }
    }
}