<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#f2a50d"
  type = "ball-atom"
></ngx-spinner>
<app-header-mini></app-header-mini>
<div class="container py-5">
  <h2 class="h1 text-center mb-5">Nosso Blog</h2>
  <hr />
  <div class="row">
    <div class="col-md-9 animated fadeInLeft">
      <h4 class='mb-5' *ngIf="countSearch != 0">
        Encontramos {{countSearch}} lugares em sua pesquisa
        <a (click)="voltar()" class='float-right rem1'>
          <i class="fa fa-arrow-left"></i>
          Voltar
        </a>
      </h4>
      <h4 class='mb-5' *ngIf="countSearch == 0 && flag == false">
        Não Encontramos  artigos em sua pesquisa
        <a (click)="voltar()" class='float-right rem1'>
          <i class="fa arrow-left"></i>
          Voltar
        </a>
      </h4>
      <section class="text-left" *ngIf="flag == true">
        <div class="row" *ngFor="let i of feeds | paginate: { itemsPerPage: 5, currentPage: p }; let f = index">
          <div class="col-lg-5 col-xl-4 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1-half waves-light" mdbWavesEffect>
              <img src="{{i.fimg_url}}" class="img-fluid" alt="{{i.title.rendered}}">
              <a routerLink="/blog/{{i.slug}}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
            <h3 class="mb-3 font-weight-bold dark-grey-text">
              <a routerLink="/blog/{{i.slug}}">
                <strong>{{i.title.rendered}}</strong>
              </a>
            </h3>
            <p class="grey-text text-justify" [innerHTML]="i.excerpt.rendered | truncate: 150"></p>
            <p>
              {{i.date | date:'dd'}}-{{i.date | date:'MM'}}-{{i.date | date:'yyyy'}}
            </p>
            <a routerLink="/blog/{{i.slug}}"
              class="btn btn-danger btn-md waves-light" mdbWavesEffect>Leia Mais</a>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <pagination-controls class="animated fade"
        (pageChange) = "p = $event"
        previousLabel = 'Anterior'
        nextLabel = 'Próximo' 
      ></pagination-controls>
      <!--Section: Blog v.3-->
    </div>
    <div class="col-md-3 animated text-left fadeInRight">
      <div class="grey lighten-4 mb-4" style='margin-bottom: 20px;'>
        <div class="py-3 px-3">
          <div class="md-form">
            <i class="fa fa-search prefix"></i>
            <input type="text" [(ngModel)]='item' id="form2" class="form-control" placeholder="Buscar Artigo">
          </div>
          <button type="button" mdbWavesEffect class="btn btn-primary waves-light btn-block" [disabled]="!item" (click)='search()'>Buscar</button>
        </div>
      </div>
      <app-banner-sidebar></app-banner-sidebar>
    </div>
  </div>
</div>
<app-ebook class="animated fade"></app-ebook>
<app-subscribe class="animated fade"></app-subscribe>
<section style="background: #b4cfd6">
  <div class="container">
    <a target="_blank" href="https://projetomosaico.com.br/simulador/">
      <img class="img-fluid" width="100%" src="./assets/imgs/slide/simulador.jpg" alt="Simulador">
    </a>
  </div>
</section>