<section>
  <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 300px">
    <agm-marker [latitude]="map.lat" [longitude]="map.lng">
      <agm-info-window>Mosaico Ponta Negra</agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="map1.lat" [longitude]="map1.lng">
      <agm-info-window>Mosaico Essence</agm-info-window>
    </agm-marker>
  </agm-map>
</section>
