<!-- <mdb-navbar SideClass="tel navbar fixed-top grey lighten-2 navbar-expand-lg" [containerInside]="true">
    <logo>
        <a class='text-right logo uno' style='color: #000' target="_blank" href="https://grupozpar-portalcliente.sienge.com.br/authentication/signin">
            <i class="fa fa-user mr-2"></i>
            <small>Área do Cliente</small>
        </a>
    </logo>
    <links>
        <ul class="navbar-nav ml-auto dos">
            <li class="nav-item waves-light">
                <a style='color: #000' target="_blank" href="https://grupozpar-portalcliente.sienge.com.br/authentication/signin">
                    <i class="fa fa-user mr-2"></i>
                    <small>Área do Cliente</small>
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar> -->
<!-- Facebook Pixel Code -->
<!-- End Facebook Pixel Code -->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark elegant-color-dark scrolling-navbar intro-fixed-nav"
 [containerInside]="true" style='margin-top: 40px;'>
    <logo>
        <a class="logo navbar-brand" href="#" appScroll>
            <img src="./assets/imgs/logo.png" alt="" class="img-fluid" />
        </a>
    </logo>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="" appScroll>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    Empreendimentos
                    <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/adiantadas" appScroll>Obras Adiantadas</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/construir" appScroll>Pronto para construir</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/lancamento" appScroll>Breve Lançamento</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/outros" appScroll>Outros Empreendimentos</a>
                </div>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/sobre" appScroll>Sobre</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/blog" appScroll>Blog</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/materiais" appScroll>Materiais</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/contato" appScroll>Contato</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" target="_blank" href="https://grupozpar-portalcliente.sienge.com.br/authentication/signin">Área do Cliente</a>
            </li>
        </ul>
        <a href="https://conteudo.projetomosaico.com.br/falar-com-consultor-projeto-mosaico" class="fale btn btn-yellow waves-light"
            target="_blank"  mdbWavesEffect>
            Fale com um Especialista
        </a>
    </links>
</mdb-navbar>
