.img-circle {
    margin: -65px auto 0;
    width: 100px;
    box-shadow: 0 0 15px #0000004f;
    border-radius: 50%;
}

.title-emprendimento {
    font-weight: bolder;
    margin-bottom: 3rem;
}

.card {
    margin-bottom: 10px;
    .top-left {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 5px 11px;
        color: #fff;
    }
    .adiantadas {
        background: #61A147;
    }
    .pronto {
        background: #1A88C1;
    }
}

.card-body {
    flex: 1 1 auto;
    padding: .75rem;
    h4 {
        font-size: 1.2em;
    }
    p {
        font-weight: 300;
        font-size: 1em;
    }
}

@media only screen and (max-width: 767px) {
    .carousel-item {
        display: none;
    }
    .carousel-item.active {
        display: initial;
    }
}