<!--Carousel Wrapper-->
<section class="pt-5 py-4">
    <h2 class="title-emprendimento">Empreendimentos</h2>
    <mdb-carousel [isControls]="true" class="carousel-multi-item carousel slide" [type]="'carousel-multi-item'" [animation]="'slide'">
        <!--First slide-->
        <mdb-slide style="margin-bottom: 50px;">
            <div class="col-md-4 col-xs-12 col-xxs-12" *ngFor="let item of dados">
                <div class="card">
                    <div class="top-left" [ngClass]="item.tag=='Obras Adiantas' ? 'adiantadas':  'pronto'">
                        {{item.tag}}
                    </div>
                    <img class="img-fluid" src="{{item.image1}}" alt="Card image cap">
                    <img src="{{item.image}}" alt="" class="img-circle box-logo">
                    <div class="card-body">
                        <h4 class="card-title">{{item.title}}</h4>
                        <p>{{item.text}}</p>
                        <a routerLink="/{{item.link}}" class="btn btn-dark waves-light" mdbWavesEffect>
                            Veja mais
                        </a>
                    </div>
                </div>
            </div>
        </mdb-slide>
        <mdb-slide style="margin-bottom: 50px;">
            <div class="col-md-4 col-xs-12 col-xxs-12" *ngFor="let item of dados2">
                <div class="card">
                    <div class="top-left" [ngClass]="item.tag=='Obras Adiantas' ? 'adiantadas':  'pronto'">
                        {{item.tag}}
                    </div>
                    <img class="img-fluid" src="{{item.image1}}" alt="Card image cap">
                    <img src="{{item.image}}" alt="" class="img-circle box-logo">
                    <div class="card-body">
                        <h4 class="card-title">{{item.title}}</h4>
                        <p>{{item.text}}</p>
                        <a routerLink="/{{item.link}}" class="btn btn-dark waves-light" mdbWavesEffect>
                            Veja mais
                        </a>
                    </div>
                </div>
            </div>
        </mdb-slide>
        <mdb-slide style="margin-bottom: 50px;">
            <div class="col-md-4 col-xs-12 col-xxs-12" *ngFor="let item of dados3">
                <div class="card">
                    <div class="top-left" [ngClass]="item.tag=='Obras Adiantas' ? 'adiantadas':  'pronto'">
                        {{item.tag}}
                    </div>
                    <img class="img-fluid" src="{{item.image1}}" alt="Card image cap">
                    <img src="{{item.image}}" alt="" class="img-circle box-logo">
                    <div class="card-body">
                        <h4 class="card-title">{{item.title}}</h4>
                        <p>{{item.text}}</p>
                        <a routerLink="/{{item.link}}" class="btn btn-dark waves-light" mdbWavesEffect>
                            Veja mais
                        </a>
                    </div>
                </div>
            </div>
        </mdb-slide>
    </mdb-carousel>
</section>
