<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#f2a50d"
  type = "ball-atom"
></ngx-spinner>
<!--Main Layout-->
<main class="text-center" id='top'>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>