<app-header-mini></app-header-mini>
<div class="container py-5">
  <h1 class="title text-left">Anhanguera 107</h1>
  <h1 class="title py-3">Ficha técnica</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Categoria:</span>
 Centro Logístico.
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Produto:</span>
 Centro logístico com projeto flexivel, autosustentável e com segurança 24h. Módulos que atendem completamente às especificações
de armazenagem e previsão de área exclusivas para construções "Buit to Suit".
        </p>
      </div>

    </div>
    <div class="col-md-4">
<div class="item">
  <p class="title-emp text-left">
    <i class="fa fa-check" aria-hidden="true"></i>
    <span class="text">Plantas: </span>
    Módulos a partit de 3.800m².
  </p>
</div>
<div class="item">
  <p class="title-emp text-left">
    <i class="fa fa-check" aria-hidden="true"></i>
    <span class="text">Central de Locação: </span>
    Colliers - (11) 3811-3200.
  </p>
</div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Status da Obra: </span>
          <br />
<strong>Execução da primeira etapa / Projeto Aprovado</strong>
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Endereço: </span>
 Km 107 Rod. Anhanguera - Sumaré
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container space">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title py-3">Galeria</h1>
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-slide *ngFor="let number of [1,2,3,4]">
          <img class="d-block w-100" src="./assets/imgs/anhanguera/{{number}}.jpg" alt="360 JK">
        </mdb-slide>
      </mdb-carousel>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <app-empreedimento></app-empreedimento>
  </div>
</div>
<app-subscribe></app-subscribe>
