.card.card-cascade.wider {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.card.card-cascade.wider .card-body {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  margin-left: 4%;
  margin-right: 4%;
  background: #fff;
  z-index: 1;
  -webkit-border-radius: 0 0 .25rem .25rem;
  border-radius: 0 0 .25rem .25rem;
}

#cont{
    p{
        text-align: right;
        img{
            width: 20%;
        }
    }
}


.mar-3{
    margin-top: 8rem;
}

.btn-fb {
  background-color: #3b5998 !important;
  color: #fff !important;
}

.btn-tw {
  background-color: #55acee !important;
  color: #fff !important;
}

.btn-gplus {
  background-color: #dd4b39 !important;
  color: #fff !important;
}