<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#f2a50d"
  type = "ball-atom"
></ngx-spinner>
<app-header-mini></app-header-mini>
<div class="container py-5" *ngFor="let e of feed">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="title text-center mt-4">{{e.title.rendered}}</h1>
      <p> {{e.date | date:'dd'}}/{{e.date | date:'MM'}}/{{e.date | date:'yyyy'}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="card card-cascade wider reverse">
        <div class="view overlay waves-light" mdbWavesEffect>
          <img src="{{e.fimg_url}}" alt="{{e.title.rendered}}" class="img-fluid">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <div id="cont" class="excerpt mt-5 text-justify" [innerHTML]="e.content.rendered | sanitize "></div>
    </div>
    <div class="col-md-3">
      <app-banner-sidebar></app-banner-sidebar>
    </div>
  </div>
</div>
<section style="background: #b4cfd6">
  <div class="container">
    <a target="_blank" href="https://projetomosaico.com.br/simulador/">
      <img class="img-fluid" width="100%" src="./assets/imgs/slide/simulador.png" alt="Simulador">
    </a>
  </div>
</section>