<header class="h-100">
    <app-nav></app-nav>
    <div class="mt-4 pt-5">
        <mdb-carousel [interval]='10000'>
            <mdb-slide>
                <div class="pontanegra">
                    <div class="full-bg-img">
                        <div class="flex-center">
                            <div class="container">
                                <div class="row justify-content-end">
                                    <div class="col-md-5 text-left wow fadeInUp">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <img src="./assets/imgs/logopn.png" alt="" class="img-fluid"><br />
                                                <p class="h5 text-center">More no bairro mais privilegiado de Manaus</p>
                                                <form [formGroup]="registerPN" (ngSubmit)="pontanegra()" class='text-left'>
                                                <div class="md-form">
                                                    <input mdbInputDirective type="text" id='form1' formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }"
                                                    />
                                                    <label for="form1">Nome</label>
                                                    <div *ngIf="submitted && f.nome.errors">
                                                        <span *ngIf="f.nome.errors.required" class="inputVal text-danger">Campo obrigatório</span>
                                                    </div>
                                                </div>
                                                <div class="md-form">
                                                    <input mdbInputDirective type="email" id='form2' formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                                    />
                                                    <label for="form2">E-mail</label>
                                                    <div *ngIf="submitted && f.email.errors">
                                                    <span *ngIf="f.email.errors.required" class="inputVal text-danger">Campo obrigatório</span>
                                                    <span *ngIf="f.email.errors.email" class="inputVal text-danger">E-mail inválido</span>
                                                    </div>
                                                </div>
                                                <div class="md-form">
                                                    <input mdbInputDirective type="text" id='form3' formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                                                    />
                                                    <label for="form3">Telefone</label>
                                                    <div *ngIf="submitted && f.phone.errors">
                                                    <span *ngIf="f.phone.errors.required" class="inputVal text-danger">Campo obrigatório</span>
                                                    </div>
                                                </div>
                                                <div class="md-form">
                                                    <input mdbInputDirective type="text" id='form4' formControlName="profissao" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.profissao.errors }"
                                                    />
                                                    <label for="form4">Qual é sua profissão?</label>
                                                    <div *ngIf="submitted && f.profissao.errors">
                                                    <span *ngIf="f.profissao.errors.required" class="inputVal text-danger">Campo obrigatório</span>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <button class="btn btn-danger waves-light" type='submit' mdbWavesEffect>
                                                    <i class="fa fa-send"></i>
                                                    Cadastrar
                                                    </button>
                                                    <br />
                                                    <small class="grey-text">
                                                    Prometemos não utilizar suas informações de contato para enviar qualquer tipo de SPAM.
                                                    </small>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mdb-slide>
            <mdb-slide>
                <div class="essence">
                    <div class="full-bg-img">
                        <div class="flex-center">
                            <div class="container">
                                <div class="row justify-content-end">
                                    <div class="col-md-5 text-left wow fadeInUp">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <img src="./assets/imgs/empreendimento/logo-essence.jpg" alt="">
                                                <p class="h5 text-center">More no coração de Mogi</p>
                                                <form [formGroup]="registerE" (ngSubmit)="essence()" class='text-left'>
                                                <div class="md-form">
                                                    <input mdbInputDirective type="text" id='form5' formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && e.nome.errors }"
                                                    />
                                                    <label for="form5">Nome</label>
                                                    <div *ngIf="submitted && e.nome.errors">
                                                    <span *ngIf="e.nome.errors.required" class="inputVal text-danger">Campo obrigatório</span>
                                                    </div>
                                                </div>
                                                <div class="md-form">
                                                    <input mdbInputDirective type="email" id='form6' formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && e.email.errors }"
                                                    />
                                                    <label for="form6">E-mail</label>
                                                    <div *ngIf="submitted && e.email.errors">
                                                    <span *ngIf="e.email.errors.required" class="inputVal text-danger">Campo obrigatório</span>
                                                    <span *ngIf="e.email.errors.email" class="inputVal text-danger">E-mail inválido</span>
                                                    </div>
                                                </div>
                                                <div class="md-form">
                                                    <input mdbInputDirective type="text" id='form7' formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && e.phone.errors }"
                                                    />
                                                    <label for="form7">Telefone</label>
                                                    <div *ngIf="submitted && e.phone.errors">
                                                    <span *ngIf="e.phone.errors.required" class="inputVal text-danger">Campo obrigatório</span>
                                                    </div>
                                                </div>
                                                <div class="md-form">
                                                    <input mdbInputDirective type="text" id='form8' formControlName="profissao" class="form-control" [ngClass]="{ 'is-invalid': submitted && e.profissao.errors }"
                                                    />
                                                    <label for="form8">Qual é sua profissão?</label>
                                                    <div *ngIf="submitted && e.profissao.errors">
                                                    <span *ngIf="e.profissao.errors.required" class="inputVal text-danger">Campo obrigatório</span>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <button class="btn btn-danger waves-light" type='submit' mdbWavesEffect>
                                                    <i class="fa fa-send"></i>
                                                    Cadastrar
                                                    </button>
                                                    <br />
                                                    <small class="grey-text">
                                                    Prometemos não utilizar suas informações de contato para enviar qualquer tipo de SPAM.
                                                    </small>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mdb-slide>
        </mdb-carousel>
    </div>
</header>
<app-subscribe class="animated wow fadeInDown"></app-subscribe>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-empreedimento class="animated wow fadeInDown"></app-empreedimento>
        </div>
    </div>
</div>
<!-- <div class="embed-responsive embed-responsive-16by9 mt-4">
    <iframe class="embed-responsive-item" src="//projetomosaico.com.br/simulador"></iframe>
</div> -->
<section style="background: #b4cfd6">
    <a target="_blank" href="https://projetomosaico.com.br/simulador/">
        <img class="img-fluid" width="100%" src="./assets/imgs/slide/simulador.jpg" alt="Simulador">
    </a>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-blog></app-blog>
        </div>
    </div>
</div>
<app-projeto class="animated wow fadeInDown"></app-projeto>
