.bolder {
  font-weight: bolder;
}

.lighten {
  font-weight: 300;
}

.pontanegra {
    background: url("../../assets/imgs/slide/header-1.jpg") no-repeat center center;
    background-size: cover;
    height: 70vh;
}

.essence {
    background: url("../../assets/imgs/slide/header-2.jpg")no-repeat center center;
    background-size: cover;
    height: 70vh;
    width: 100%;
}
.carousel {
  background: red;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: inherit;
    overflow: hidden;
}

@media (max-width: 1367px) {
  .pontanegra {
    height: 90vh;
  }
  .essence {
    height: 90vh;
  }
  .simulador {
    height: 90vh;
  }
  .fazer {
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 800;
    align-self: center;
  }
}

.card {
    margin-top: 35px;
}

.link-more {
  display: none;
  .more-link {
    display: none;
  }
}

@media (min-width: 1367px) {
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    height: 85%;
  }
}

@media (max-width: 1366px) {
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    height: 85%;
  }

}

@media screen and (max-width: 768px) {
  .embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    height: 700px;
  }
  h3, .h3 {
    font-size: 1.3rem;
  }
}