<section class="grey lighten-4 text-center py-5">
    <h3>
        Fique por dentro dos nossos conteúdos e tenha todas as dicas da 
        <br />Projeto Mosaico direto no seu e-mail. Cadastre-se:
    </h3><br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form id='newsletter' [formGroup]="subscribeForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="md-form">
                                <input mdbInputDirective type="text" formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submittedForm && s.nome.errors }">
                                <label for="form1" class="">Nome</label>
                                <div *ngIf="submittedForm && s.nome.errors">
                                    <span *ngIf="s.nome.errors.required" class="inputVal text-danger">Campo obrigatório</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form">
                                <input mdbInputDirective type="email" formControlName="email" id='form2' class="form-control" [ngClass]="{ 'is-invalid': submittedForm && s.email.errors }">
                                <label for="form2" class="">Informe seu e-mail</label>
                                <div *ngIf="submittedForm && s.email.errors">
                                    <span *ngIf="s.email.errors.required" class="inputVal text-danger">Campo obrigatório</span>
                                    <span *ngIf="s.email.errors.email" class="inputVal text-danger">E-mail inválido</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary waves-light" 
                                mdbWavesEffect (click)="save()" >Quero receber novidades</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
