<!--Carousel Wrapper-->
<section class="pt-5 py-4">
  <div class="container">
    <h2 class="title-emprendimento">Nosso Materiais</h2>
    <mdb-carousel [isControls]="true" class="carousel-multi-item carousel slide" [type]="'carousel-multi-item'" [animation]="'slide'">
      <mdb-slide style="margin-bottom: 50px;">
        <div class="col-lg-4 col-md-12 mb-4" *ngFor="let item of dados">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
            <img src="{{item.image1}}" class="img-fluid" alt="{{item.title}}">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <a class="btn btn-yellow btn-rounded btn-lg btn-md waves-light" 
          mdbWavesEffect href="{{item.link}}" target="_blank">Baixar</a>
        </div>
      </mdb-slide>
      <mdb-slide style="margin-bottom: 50px;">
        <div class="col-lg-4 col-md-12 mb-4" *ngFor="let item of dados2">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
            <img src="{{item.image1}}" class="img-fluid" alt="{{item.title}}">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <a class="btn btn-yellow btn-rounded btn-lg btn-md waves-light" mdbWavesEffect href="{{item.link}}" target="_blank">Baixar</a>
        </div>
      </mdb-slide>
    </mdb-carousel>
  </div>

</section>
