<app-header-mini></app-header-mini>
<div class="container py-5">
  <h1 class="title text-left">Poème Cidade Jardim</h1>
  <h1 class="title py-3">Ficha técnica</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Categoria:</span>
 Apartamento.
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Produto:</span>
410m² privativos.
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Dormitórios:</span>
          4.
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Suites:</span>
          4.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Unidade: </span>
          8.
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Vagas: </span>
 7 determinadas e independentes.
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Outros: </span>
 Garage box / Vista permanente para Z1.
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
<span class="text">Lazer e infra estrutura: </span>
 Piscina / Gerador / Infra estrutura para ar condicionado.
        </p>
      </div>
    </div>
    <div class="col-md-4">
<div class="item">
  <p class="title-emp text-left">
    <i class="fa fa-check" aria-hidden="true"></i>
<span class="text">Plantas: </span>
 6 unidades tipo - Cob. Superior e inferior / House Garden
  </p>
</div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Status da Obra: </span>
          <br />
          <strong>Pronto</strong>
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Endereço: </span>
 Rua Joaquim Macedo, 95 - Cidade Jadim - São Paulo - SP
        </p>
      </div>
<div class="item">
  <p class="title-emp text-left">
    <i class="fa fa-check" aria-hidden="true"></i>
<span class="text">Central de Locação: </span>
 (11) 98288-6442
  </p>
</div>
    </div>
  </div>
</div>
<div class="container space">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title py-3">Galeria</h1>
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-slide *ngFor="let number of [1,2,3,4,5]">
          <img class="d-block w-100" src="./assets/imgs/poeme/{{number}}.jpg" alt="360 JK">
        </mdb-slide>
      </mdb-carousel>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <app-empreedimento></app-empreedimento>
  </div>
</div>
<app-subscribe></app-subscribe>

