<!--Section: Blog v.2-->
<section class="text-center py-4">

    <!--Section heading-->
    <h2 class="h1 font-weight-bold text-center pt-4">Nosso Blog</h2>
    <!--Section description-->
    <p class="text-center mb-5 pb-3"></p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4" *ngFor="let f of feeds; let i = index">
            <!--Featured image-->
            <div *ngIf="i < 3">
                <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
                    <img src="{{f.fimg_url}}" height="250px" class="img-fluid" alt="f.title.rendered">
                </div>
                <!--Excerpt-->
                <a href="" class="red-text">
                    <h6 class="mb-3 mt-4">
                        <i class="fa fa-map "></i>
                        <strong> Dicas</strong>
                    </h6>
                </a>
                <h4 class="mb-3 font-weight-bold dark-grey-text">
                    <strong>{{f.title.rendered}}</strong>
                </h4>
                <p>
                    {{f.date | date:'dd'}}-{{f.date | date:'MM'}}-{{f.date | date:'yyyy'}}
                </p>
                <p class="grey-text text-justify url" [innerHTML]="f.excerpt.rendered"></p>
                <a routerLink="/blog/{{f.slug}}"
                    class="btn btn-danger btn-rounded btn-md waves-light" mdbWavesEffect appScroll>Leia Mais</a>
            </div>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

</section>
<!--Section: Blog v.2-->
