<app-header-mini></app-header-mini>
<div class="container py-5">
  <h1 class="title text-left">Altana</h1>
  <h1 class="title py-3">Ficha técnica</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Categoria:</span>
Apartamento de alto padrão.
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Produto:</span>
 307 à 565m² privativos.
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
<span class="text">Dormitórios: </span>
          4
        </p>
      </div>
<div class="item">
  <p class="title-emp text-left">
    <i class="fa fa-check" aria-hidden="true"></i>
    <span class="text">Outros: </span>
Área privativa das unidades: 307 à 565m² / vista externa para o Parque do Ibirabuera.
  </p>
</div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Suites: </span>
          4
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Unidade: </span>
 14 tipo - 4 duplex.</p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Vagas: </span>
          5 a 7.
      </div>
    </div>
    <div class="col-md-4">
<div class="item">
  <p class="title-emp text-left">
    <i class="fa fa-check" aria-hidden="true"></i>
<span class="text">Lazer e infra Estrutura: </span>
 Piscina / Raia climatizada coberta / Jardim / Salão de festas
</div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Status da Obra: </span>
          <br />
          <strong>Entregue</strong>
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Endereço: </span>
 Av. Republica do Libano, 1714 - Vila Nova Conceição - São Paulo - SP
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container space">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title py-3">Galeria</h1>
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-slide *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11]">
          <img class="d-block w-100" src="./assets/imgs/altana/{{number}}.jpg" alt="360 JK">
        </mdb-slide>
      </mdb-carousel>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <app-empreedimento></app-empreedimento>
  </div>
</div>
<app-subscribe></app-subscribe>
