<app-header-mini></app-header-mini>
<div class="container py-5">
    <h1 class="title text-left">Pronto para Construir</h1>
    <br>
    <div class="row">
        <div class="col-md-4" *ngFor="let item of dados" style="margin-bottom: 20px;">
            <div class="card">
                <img class="img-fluid" src="{{item.image1}}" alt="Card image cap">
                <img src="{{item.image}}" alt="" class="img-circle box-logo">
                <div class="card-body">
                    <h4 class="card-title">{{item.title}}</h4>
                    <p>{{item.text}}</p>
                    <a routerLink="/{{item.link}}" class="btn btn-dark waves-light" mdbWavesEffect>
            Veja mais
          </a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-subscribe></app-subscribe>
<section style="background: #b4cfd6">
  <div class="container">
    <a target="_blank" href="https://projetomosaico.com.br/simulador/">
      <img class="img-fluid" width="100%" src="./assets/imgs/slide/simulador.png" alt="Simulador">
    </a>
  </div>
</section>
