/* You can add global styles to this file, and also import other style files */

.progress {
  height: 2.7rem;
  background: none;
}

.progress-bar {
  margin-bottom: 10px;
  text-align: left;
  padding-left: 20px;
}

.controls-top {
  display: none;
  margin-bottom: 30px;
  .btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    padding: 20px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
  }
  .fa-chevron-left::before {
    content: "\f053";
    color: #fff;
  }
  .fa-chevron-right::before {
    content: "\f054";
    color: #fff;
  }
}

.carousel .carousel-indicators li {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: gray;
    .active {
        background-color: black;
    }
}

.img-circle {
    margin: -65px auto 0;
    width: 100px;
    box-shadow: 0 0 15px #0000004f;
    border-radius: 50%;
}

img {
    max-width: 100% !important;
    height: auto;
}

.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    background-color: transparent!important;
}

footer {
    padding-top: 30px;
}

.list-unstyled li {
    line-height: 30px;
    font-size: 15px;
}

@media only screen and (max-width: 767px) {
    .carousel-multi-item>.carousel-indicators {
        bottom: -45px;
        margin-bottom: 30px;
    }
}


.navbar {
  background-color: transparent;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
  .container {
    margin-top: 0;
    color: #444;
  }
}

.top-nav-collapse {
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0;
  .container {
    background: none;
    margin-top: 0px;
  }
}

.fixed-top1 {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.uno { display: none;}

@media only screen and (max-width: 991px) {
    .uno { display: block }
}

figure {
    width: inherit!important;
}