<app-header-mini></app-header-mini>
<div class="container py-5">
  <h1 class="title text-left">Ponta Negra</h1>
  <h1 class="title py-3">Ficha técnica</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Categoria:</span>
          Loteamento
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
            <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Segurança: </span>
          Portaria e fechamento perimetral de todo o condomínio
        </p>
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Produto: </span>
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
            <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Lazer e Infra Estrutura: </span>
          Área de lazer para agradar a família toda e garantir uma vida Memorável.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Status da Obra: </span>
          <strong>Em Andamento</strong>
        </p>
      </div>
      <div class="item">
        <p class="title-emp text-left">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="text">Endereço: </span>
          AV. Perimetral Thales Loureiros, s/n, Ponta Negra, Manaus - AM
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container space">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title py-3">Galeria</h1>
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-slide *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13]">
              <img class="d-block w-100" src="./assets/imgs/pontanegra/{{number}}.jpg" alt="Ponta Negra">
          </mdb-slide>
      </mdb-carousel>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <h1 class="title py-3">Acompanhamento das obras</h1>
    <div class="progress">
      <div class="progress-bar bg-info" style="width: 100%; font-weight: bolder;" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        <strong>LIMPEZA E TERRAPLENAGEM
            <span class="pull-right" style="font-weight: 400; margin-right: 10px;">100%</span>

        </strong>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-info" style="width: 75%; font-weight: bolder;" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
        <strong>REDES (ÁGUA, ESGOTO, ELETRICIDADE)
            <span class="pull-right" style="font-weight: 400; margin-right: 10px;">75%</span>
        </strong>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-info" style="width: 80%; font-weight: bolder;" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
        <strong>PAVIMENTAÇÃO
            <span class="pull-right" style="font-weight: 400; margin-right: 10px;">80%</span>
        </strong>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-info" style="width: 50%; font-weight: bolder;" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
        <strong>EDIFICAÇÕES
          <span class="pull-right" style="font-weight: 400; margin-right: 10px;">50%</span>
        </strong>
      </div>
    </div>
  </div>
</div>
<section class="grey lighten-4 text-center py-5">
  <h3>Fale com um especialista</h3>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <form [formGroup]="registerForm" (ngSubmit)="pontanegra()" id='Fale com especialista'>
                <div class="row justify-content-center">
                  <div class="col-md-2">
                    <div class="md-form">
                      <input mdbInputDirective type="text" formControlName="nome" id="form1" class="form-control" required>
                      <label for="form1">Nome</label>
                      <div *ngIf="submitted && f.nome.errors">
                        <span *ngIf="f.nome.errors.required" class="inputVal text-danger">Obrigatório</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="md-form">
                      <input mdbInputDirective type="email" id='form2' formControlName="email" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <label for="form2">E-mail</label>
                      <div *ngIf="submitted && f.email.errors">
                        <span *ngIf="f.email.errors.required" class="inputVal text-danger">Obrigatório</span>
                        <span *ngIf="f.email.errors.email" class="inputVal text-danger">E-mail inválido</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="md-form">
                        <input mdbInputDirective type="text" id='form3' 
                          formControlName="phone" class="form-control" 
                          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                        <label for="form3">Telefone</label>
                        <div *ngIf="submitted && f.phone.errors">
                        <span *ngIf="f.phone.errors.required" class="inputVal text-danger">Obrigatório</span>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="md-form">
                        <input mdbInputDirective type="text" id='form4' 
                          formControlName="profissao" class="form-control" 
                          [ngClass]="{ 'is-invalid': submitted && f.profissao.errors }" />
                        <label for="form4">Qual é sua profissão?</label>
                        <div *ngIf="submitted && f.profissao.errors">
                          <span *ngIf="f.profissao.errors.required" class="inputVal text-danger">Obrigatório</span>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-dark waves-light"
                      mdbWavesEffect >Enviar</button>
                  </div>
                </div>
              </form>
          </div>
      </div>
  </div>
</section>
<div class="container">
  <div class="col-md-12">
    <app-empreedimento></app-empreedimento>
  </div>
</div>
<app-subscribe></app-subscribe>
