<!--Carousel Wrapper-->
<section class="grey lighten-4 text-center pt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-emprendimento">Futuros lançamentos</h2>
                <mdb-carousel [isControls]="true" class="carousel-multi-item carousel slide" [type]="'carousel-multi-item'" [animation]="'slide'">
                    <!--First slide-->
                    <mdb-slide style="margin-bottom: 50px;">
                        <div class="col-md-4" *ngFor="let item of dados">
                            <div class="card">
                                <img class="img-fluid" src="{{item.image1}}" alt="Card image cap">
                                <img src="{{item.image}}" alt="" class="img-circle box-logo">
                                <div class="card-body">
                                    <h4 class="card-title">{{item.title}}</h4>
                                    <p>{{item.text}}</p>
                                    <a routerLink="/{{item.link}}" class="btn btn-dark waves-light" mdbWavesEffect>
                            Veja mais
                        </a>
                                </div>
                            </div>
                        </div>
                    </mdb-slide>
                    <mdb-slide style="margin-bottom: 50px;">
                        <div class="col-md-4" *ngFor="let item of dados2">
                            <div class="card">
                                <img class="img-fluid" src="{{item.image1}}" alt="Card image cap">
                                <img src="{{item.image}}" alt="" class="img-circle box-logo">
                                <div class="card-body">
                                    <h4 class="card-title">{{item.title}}</h4>
                                    <p>{{item.text}}</p>
                                    <a routerLink="/{{item.link}}" class="btn btn-dark waves-light" mdbWavesEffect>
                            Veja mais
                        </a>
                                </div>
                            </div>
                        </div>
                    </mdb-slide>
                    <mdb-slide style="margin-bottom: 50px;">
                        <div class="col-md-4" *ngFor="let item of dados3">
                            <div class="card">
                                <img class="img-fluid" src="{{item.image1}}" alt="Card image cap">
                                <img src="{{item.image}}" alt="" class="img-circle box-logo">
                                <div class="card-body">
                                    <h4 class="card-title">{{item.title}}</h4>
                                    <p>{{item.text}}</p>
                                    <a routerLink="/{{item.link}}" class="btn btn-dark waves-light" mdbWavesEffect>
                            Veja mais
                        </a>
                                </div>
                            </div>
                        </div>
                    </mdb-slide>
                </mdb-carousel>

            </div>
        </div>
    </div>
</section>
