.img-circle {
    margin: -65px auto 0;
    width: 100px;
    box-shadow: 0 0 15px #0000004f;
    border-radius: 50%;
}

.title-emprendimento {
    font-weight: bolder;
    margin-bottom: 3rem;
}

.card {
    margin-bottom: 10px;
    /*height: 460px !important;*/
}

.card-body {
    flex: 1 1 auto;
    padding: .75rem;
    h4 {
        font-size: 1.2em;
    }
    p {
        font-weight: 300;
        font-size: .9em;
    }
}

@media only screen and (max-width: 767px) {
    .carousel-item {
        display: none;
    }
    .carousel-item.active {
        display: initial;
    }
}