.content {
    max-width: 1000px;
    margin: auto;
    position: relative;
    padding: 0 10px;
}

#privacyPolicy .link-topo {
    font-size: 1rem;
    color: #f37021;
    font-weight: normal;
    text-decoration: none;
}

#privacyPolicy .link-topo {
    border-top: 1px solid #DDD;
    margin-top: 3rem;
    padding-top: .5rem;
    margin-bottom: .4rem;
    text-align: right;
    font-weight: normal;
}

#privacyPolicy .conteudo-politica {
    margin-bottom: 2rem;
    color: #333;
    font-size: 1rem;
    padding: 0 15px;
}