<app-header-mini></app-header-mini>
<div class="container py-5 text-left">
  <div id="privacyPolicy" class="content">
    <div id="menu">
      <div class="conteudo-politica">
        <h1>Política de privacidade</h1>
        <p>
          A Projeto Mosaico sabe o quanto é importante para você conhecer e estar seguro sobre a 
          utilização dos seus dados pessoais. Por isso, nos preocupamos em esclarecer e divulgar 
          nossa política de utilização dessas informações. Assim, você poderá entender melhor quais 
          informações obtemos e como as utilizamos. Dedique alguns minutos do seu tempo para ler essa 
          política e aproveitar de forma consciente e segura tudo o que a Projeto Mosaico tem para 
          oferecer. Para assegurar regras claras e precisas, a Projeto Mosaico poderá alterar essa 
          política de tempos em tempos, e sendo assim, recomenda sua leitura periodicamente.
        </p>
        <p>
          Esta política permitirá que você saiba:
        </p>
        <ol>
          <li>
            <a href="privacidade#item1"> Quais são as informações que obtemos</a>
          </li>
          <li>
            <a href="privacidade#item2"> O que são cookies, qual a sua utilidade e como excluí-los;</a>
          </li>
          <li>
            <a href="privacidade#item3"> Como serão utilizadas estas informações;</a>
          </li>
          <li>
            <a href="privacidade#item4"> Quem coleta as informações;</a>
          </li>
          <li>
            <a href="privacidade#item5"> Com quem suas informações podem ser compartilhadas;</a>
          </li>
          <li>
            <a href="privacidade#item6"> Quais são as suas opções a respeito da coleta, uso e distribuição
              de suas informações;</a>
          </li>
          <li>
            <a href="privacidade#item7"> Como a projeto mosaico trata suas informações relativas a finanças pessoais.</a>
          </li>
          <li>
            <a href="privacidade#item8"> O que mais você precisa saber sobre sua privacidade na Internet.</a>
          </li>
        </ol>
      </div>
    </div>
    <div id="item1">
      <h2 class='pt-5'>1. Quais são as informações que obtemos</h2>
      <div>
        <p>
          A Projeto Mosaico coleta informações de diversas formas, em diferentes áreas do portal e informações públicas. Algumas
          informações pessoais são obtidas quando você se registra ou preenche Formulários, Cookies e ou Cookies Pool/PII
          (cookies personally identifiable information). Durante o processo de registro ou cadastro, a Projeto Mosaico poderá
          perguntar seu nome, endereço de e-mail e outras informações pessoais via formulário e cookies. Quanto mais informações
          corretas você fornecer, melhor será a personalização da sua experiência.
        </p>
        <p>
          A Projeto Mosaico possui diversos parceiros e/ou patrocinadores, que também criam sorteios, promoções, oferecem
          inúmeros bens, produtos e/ou serviços através de sites que poderão ser acessados dentro das nossas plataformas e ou
          produtos. As informações que você fornece quando visita e/ou completa transações nesses sites são obtidas por esses
          parceiros e/ou patrocinadores, estando assim sujeitas às suas próprias práticas de obtenção e uso de dados, sem que
          caiba qualquer responsabilidade à Projeto Mosaico pelo manuseio de tais informações. Para obter informações sobre as
          políticas e normas de privacidade desses parceiros e/ou patrocinadores, sugerimos que você localize as normas de
          relacionamento específicas dentro do próprio site do parceiro.
        </p>
      </div>
      <div>
        <p class="link-topo">
          <a href="privacidade#menu" title="Voltar ao Topo da Página">
            <i class="fa fa-sort-up"></i> Topo
          </a>
        </p>
      </div>
    </div>
    <div id="item2">
      <h2 class='pt-5'>2. O que são "cookies", qual sua utilidade e como exclui-los.</h2>
      <div>
        <p>
          Cookies são pequenos arquivos de texto enviados ao seu computador. Os cookies são armazenados no seu
          computador. Estes pequenos arquivos servem 
          <strong> reconhecer, acompanhar e armazenar a navegação do usuário na Internet.</strong>
          <p>
            O uso de cookies para acompanhar e armazenar informações possibilitará à Projeto Mosaico, oferecer um serviço mais
            personalizado
            <strong>como sua identificação</strong> de acordo com as características e interesses de seus usuários,
            possibilitando,
            inclusive, a oferta de conteúdo e publicidade específicos para cada pessoa,
            <strong>beneficiando a experiência do usuário na Internet. </strong>
          </p>
          <p>
            Em geral, os cookies são utilizados para: Proporcionar serviços diferenciados, lembrando quem você é e quais
            são os seus hábitos de navegação, consumo, possibilidade de identificação do usuário anônimo, além de
            <strong>acessar as informações do seu cadastro na Projeto Mosaico (armazenadas em nossos servidores).</strong> Ajudar os
            parceiros da Projeto Mosaico a acompanhar visitas e negócios em suas campanhas de marketing, serviços, produtos
            ou lojas. Calcular a dimensão da audiência de visitantes da Projeto Mosaico e seus parceiros.
          </p>
          <p>
            Medir certos padrões de navegação, mapeando quais áreas do portal Projeto Mosaico e site de parceiros você visitou e
            seus hábitos de visita como um todo. Usamos essa informação para verificar a rotina de navegação dos
            nossos usuários, e assim oferecer conteúdo e/ou serviços cada vez mais personalizados.
          </p>
          <p>
            Facilitar e agilizar o preenchimento de formulários. As informações contidas nos cookies de cada usuário
            podem ser utilizadas para preencher previamente os formulários de coleta de dados existentes na Internet,
            sendo também uma forma de identificá-lo (cookies personally identifiable information - PII)
          </p>
          <p>
            Os anunciantes, parceiros e/ou patrocinadores e/ou clientes da Projeto Mosaico, poderão utilizar seus próprios cookies,
            os quais não são cobertos por esta política. Sugerimos que você consulte as políticas de privacidade
            dessas empresas.
          </p>
          <p>
            <strong>
              Você poderá excluir com facilidade qualquer cookie que tenha sido instalado na pasta de cookies do seu
              navegador. Veja abaixo instruções sobre como ativar e desativar cookies em vários navegadores:
            </strong>
            <i>
              lembrando que uma vez identificado via cookie, fará parte de uma base histórica de navegação anterior
              à limpeza ou exclusão dos cookies. Verifique as páginas de suporte de configurações de cookies do
              navegador para ver as instruções mais atualizadas disponíveis.
            </i>
          </p>
          <h3>Google Chrome</h3>
          <ul>
            <li>
              Clique no ícone de configurações, na barra de ferramentas do navegador (três linhas horizontais paralelas)
            </li>
            <li>Selecione “Configurações”</li>
            <li>Clique em “Mostrar configurações avançadas”</li>
            <li>Na seção “Privacidade”, clique no botão “Configurações de conteúdo”</li>
            <li>
              Para habilitar cookies: Na seção “Cookies”, escolha “Permitir a configuração de dados locais”. Isso irá
              permitir tantos cookies primários quanto de terceiros. Para permitir apenas cookies primários, escolha
              “Bloquear cookies de terceiros e dados do site”
            </li>
            <li>
              Para desabilitar cookies: Na seção “Cookies”, escolha “Bloquear as configurações de quaisquer dados por
              sites”
            </li>
            <li>
              Note que há vários níveis de habilitação e desabilitação de cookies no Chrome. Para obter mais informações
              sobre outras configurações de cookies oferecidas no Chrome, consulte a seguinte página do Google:
              <a href="https://support.google.com/chrome/answer/95647"> https://support.google.com/chrome/answer/95647</a>
            </li>
          </ul>
          <h3>Mozilla Firefox</h3>
          <ul>
            <li>Clique no botão de menu (três linhas horizontais paralelas) e escolha “Preferências”</li>
            <li>Selecione o painel de Privacidade</li>
            <li>Defina a opção “O Firefox deve:” para “Usar minhas configurações”</li>
            <li>Para habilitar cookies: marque a opção “Aceitar cookies de sites”</li>
            <li>Para desabilitar cookies: desmarque a opção “Aceitar cookies de sites”</li>
            <li>
              Observe que há vários níveis de habilitação e desabilitação de cookies no Firefox. Para obter mais
              informações,
              consulte a seguinte página do Mozilla:
              <a href="https://support.mozilla.org/pt-BR/kb/ative-e-desative-os-cookies-que-os-sites-usam">
                https://support.mozilla.org/pt-BR/kb/ative-e-desative-os-cookies-que-os-sites-usam
              </a>
            </li>
          </ul>
          <h3>Safari em OSX</h3>
          <ul>
            <li>Clique em “Safari” na barra de menu e selecione a opção “Preferências”</li>
            <li>Clique em “Privacidade”</li>
            <li>
              Para habilitar cookies: na seção “Cookies e dados de sites:”, clique em “Permitir Sempre” ou “Permitir
              dos sites que eu visito” ou “Permitir apenas do site atual”, conforme desejado
            </li>
            <li>Para desabilitar cookies: na seção “Cookies e dados de sites:”, clique em “Bloquear sempre”</li>
            <li>
              Observe que há vários níveis de habilitação e desabilitação de cookies no Safari. Para obter mais
              informações
              sobre outras configurações de cookie oferecidas no Safari, consulte a seguinte página da Apple:
              <a href="https://support.apple.com/kb/PH19214?locale=pt_BR&viewlocale=pt_BR">
                https://support.apple.com/kb/PH19214?locale=pt_BR&viewlocale=pt_BR</a>
            </li>
          </ul>
          <h3>Opera</h3>
          <ul>
            <li>No menu principal, selecione “Configurações” (ou “Preferências”, ao utilizar o OS X)</li>
            <li>Clique em “Avançado”</li>
            <li>Na seção “Cookies”, selecione uma opção de gerenciamento de cookies</li>
            <li>
              Para habilitar cookies: marque a opção “Aceitar” ou “Aceitar apenas dos sites que visitei”, conforme
              desejado
            </li>
            <li>Para desabilitar cookies: marque a opção “Nunca aceitar cookies!”</li>
            <li>
              Observe que há vários níveis de habilitação e desabilitação de cookies no Opera. Para obter mais
              informações
              sobre outras configurações de cookies oferecidas no Opera, consulte a seguinte página do software
              Opera:
              <a href="http://www.opera.com/help/tutorials/security/privacy/">http://www.opera.com/help/tutorials/security/privacy/</a>
            </li>
          </ul>
          <h3>Microsoft Internet Explorer 6.0, 7.0, 8.0, 9.0, 10.0</h3>
          <ul>
            <li>
              Clique em “Ferramentas”, na parte superior da janela do seu navegador, e selecione “Opções de internet”
            </li>
            <li>Na janela de opções, navegue até a guia “Privacidade”</li>
            <li>Para habilitar cookies: defina o controle deslizante no nível “Médio” ou abaixo</li>
            <li>Para desabilitar cookies: mova o controle deslizante até o topo para bloquear todos os cookies</li>
            <li>
              Observe que há vários níveis de habilitação e desabilitação de cookies no Explorer. Para obter mais
              informações
              sobre outras configurações de cookies oferecidas no Internet Explorer, consulte a seguinte página
              da Microsoft:
              <a href="https://support.microsoft.com/pt-br/help/17442/windows-internet-explorer-delete-manage-cookies">
                https://support.microsoft.com/pt-br/help/17442/windows-internet-explorer-delete-manage-cookies
              </a>
            </li>
          </ul>
          <h3>Microsoft Internet Explorer 11 para Windows 10</h3>
          <ul>
            <li>
              Clique em “Ferramentas”, na parte superior da janela do seu navegador, e selecione “Opções de internet”
            </li>
            <li>Na janela de opções, navegue até a guia “Privacidade”</li>
            <li>
              Para habilitar cookies: Escolha “Permitir” ou “ser solicitado para cookies de primeiros e cookies de
              terceiros”, dependendo das suas preferências
            </li>
            <li>Para desativar os cookies: Escolha “Bloquear”</li>
            <li>
              Observe que há vários níveis de habilitação e desabilitação de cookies no Explorer. Para obter mais
              informações
              sobre outras configurações de cookies oferecidas no Internet Explorer, consulte a seguinte página
              da Microsoft:
              <a href="https://support.microsoft.com/pt-br/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/pt-br/help/17442/windows-internet-explorer-delete-manage-cookies</a>
            </li>
          </ul>
          <h3>Microsoft Edge</h3>
          <ul>
            <li>Clique em “Mais” e selecione “Configurações”</li>
            <li>Em “Configurações avançadas”, selecione “Exibir configurações avançadas”</li>
            <li>Em “Privacidade e serviços – Cookies”, escolha a opção desejada</li>
            <li>
              “Bloquear todos os cookies” bloqueia todos os cookies que os sites tentam salvar em seu computador.
              “Bloquear
              os cookies de terceiros” bloqueia apenas cookies de terceiros, que são salvos por serviços de Internet
              externos, como anúncios integrados em páginas da web nas quais você navegou.
            </li>
            <li>
              Observe que há vários níveis de habilitação e desabilitação de cookies no Edge. Para obter mais informações
              sobre outras configurações de cookies oferecidas no Microsoft Edge, consulte a seguinte página da
              Microsoft:
              <a href="https://support.microsoft.com/pt-BR/help/12454/windows-10-microsoft-edge-privacy-faq">https://support.microsoft.com/pt-BR/help/12454/windows-10-microsoft-edge-privacy-faq</a>
            </li>
          </ul>
          <p>
            <strong>
              Se você desabilitar todos os cookies, você pode não ser capaz de aproveitar todos os recursos deste site.
              Consulte a documentação do seu dispositivo móvel para obter informações sobre como desabilitar cookies.
            </strong>
          </p>
          <p>
            A Projeto Mosaico poderá utilizar os recursos AdWords e Remarketing Lists do Google Analytics para exibir Anunciantes.
            A Projeto Mosaico e o Google, Facebook, e demais portais utilizam cookies primários (tais como o cookie do Google
            Analytics, Facebook etc) e cookies de terceiros (tais como o cookie do DoubleClick) em conjunto para
            informar, otimizar e fornecer anúncios com base em suas visitas anteriores ao nosso site. Isto significa
            que os fornecedores, inclusive o Google,Facebook e demais portais e apps irão exibir os materiais
            promocionais
            da Projeto Mosaico e seus parceiros em outros sites que você visita em toda a internet.
          </p>
          <p>
            Você pode optar por não utilizar o Google Analytics, Facebook e demais parceiros / sites para exibir
            anunciantes,
            inclusive o AdWords, e optar por não utilizar anúncios personalizados do Google Display Network visitando
            o Gerenciador de Preferências do Google Ads. Para fornecer aos visitantes do site mais opções sobre como
            seus dados são coletados pelo Google Analytics, o Google desenvolveu um complemento de opt-out para
            navegador,
            que está disponível visitando o Complemento de Opt-Out para Navegador do Google Analytics, para permitir
            que você recuse os programas do Google.
          </p>
          <p>
            Se você não quer que Projeto Mosaico e/ou seus prestadores de serviços de marketing e parceiros monitorem o uso que
            você faz dos nossos serviços através de cookies, apps e sinalizadores web, e para saber mais sobre esses
            prestadores de serviços e suas políticas de privacidade, entre em contato conosco. Optar por não utilizar esses serviços não
            significa que você não irá mais receber
            publicidade on-line. Significa apenas que o serviço que você optou por não utilizar deixará de entregar
            anúncios personalizados segundo suas preferências e padrões de uso da web.
          </p>
          <p>
            Quando você visita nosso site, você concorda em receber os cookies da Projeto Mosaico e de seus parceiros , conforme
            estabelecido nesta política de cookies. A Projeto Mosaico poderá atualizar essa
            <strong>
              lista periodicamente para incluir outros prestadores de serviços de marketing, parceiros e ou clientes.
            </strong>
          </p>
          <p>
            Em todos os casos de uso de cookies da Projeto Mosaico e de terceiros para rastrear seu comportamento no site , será
            necessário consultar o site deste terceiro para saber como remover os cookies desse terceiro especificamente.
            A remoção de cookies do Projeto Mosaico do seu navegador não afetará cookies colocados por terceiros.
          </p>
        <div>
          <p class="link-topo">
            <a href="privacidade#menu" title="Voltar ao Topo da Página">
              <i class="fa fa-sort-up"></i> Topo
            </a>
          </p>
        </div>
      </div>
    </div>
    <div id="item3" class='pt-5'>
      <h2>3. Como poderão ser utilizadas estas informações</h2>
      <div>
        <p>
          As informações coletadas pela Projeto Mosaico e seus parceiros serão utilizadas para personalizar o conteúdo e/ou
          serviços disponibilizados. Isso inclui serviços de personalização, comunicações interativas, envio de sms, e-mail, ação
          de telemarketing, push notification, cartas promocionais, compras on-line e outros tipos de serviços. Sabendo mais
          sobre você, a Projeto Mosaico e seus parceiros podem fornecer conteúdo e serviços mais relevantes e proporcionar uma
          melhor experiência.
        </p>
        <p>
          As informações também poderão ser utilizadas para gerar dados estatísticos gerais com finalidade informativa ou
          comercial. Informações geográficas, demográficas e de perfil de uso dos usuários, poderão ser fornecidas a parceiros,
          patrocinadores, anunciantes ou outras empresas externas.
        </p>
        <p>
          As informações coletadas poderão ser utilizadas para direcionamento de campanhas publicitárias de uma forma geral, como
          por exemplo no caso em que um anunciante determina como foco de uma determinada campanha homens com mais de 21 anos.
        </p>
        <p>
          Nesse caso, veiculamos a propaganda aos usuários dentro dessa faixa etária utilizando banners e/ou e-mails
          promocionais
          ou qualquer tipo de comunicação direta a esse usuário.
          <strong>As informações pessoais individuais poderão</strong> ser comercializadas ou fornecidas a empresas
          terceiras,
          salvo em estrito cumprimento de ordens judiciais ou procedimentos jurídicos similares.
        </p>
        <div>
          <p class="link-topo">
            <a href="privacidade#menu" title="Voltar ao Topo da Página">
              <i class="fa fa-sort-up"></i> Topo
            </a>
          </p>
        </div>
      </div>
    </div>
    <div id="item4" class='pt-5'>
      <h2>4. Quem coleta as informações</h2>
      <div>
        <p>
          Alguns parceiros, patrocinadores, anunciantes e demais que sejam acessados através do portal Projeto Mosaico, poderão
          solicitar
          informações financeiras e/ou pessoais suas como em sites de e-commerce. Num caso como esse, os usuários estarão
          cientes que essas informações serão usadas dentro dos termos desse contrato. As informações
          <strong>obtidas pela Projeto Mosaico e seus parceiros</strong>, e utilizadas pelos seus parceiros de forma equivocada não
          terá
          qualquer responsabilidade da Projeto Mosaico, pela utilização e manejo dessa informação, não se aplicando a presente
          política.
        </p>
        <p>
          A Projeto Mosaico destaca que no portal projetomosaico.com.br podem existir links e/ou páginas que utilizem publicidade gráfica de
          outros parceiros e/ou empresas, como por exemplo, o Google Ads, Facebook ads que utiliza relatório de
          informações
          demográficas da respectiva plataforma de publicidade. Caso você tenha interesse em desativar tal publicidade
          gráfica, deverá acessar o link configurações de anúncios (
          <a href="https://www.google.com/settings/ads">https://www.google.com/settings/ads</a> e demais sites) e
          personalizar sua própria experiência.
        </p>
        <p>
          Sempre que você acessar anunciantes, apps ou outros Sites da Web através de links presentes no site da
          projetomosaico.com.br,
          aqueles poderão coletar informações sobre você. Lembramos que as práticas relativas à privacidade desses
          parceiros e terceiros não são cobertos pela presente política e podem ser bem diferentes dos padrões de
          privacidade
          da Projeto Mosaico.
        </p>
        <p>
          Também podemos obter dados de terceiros. Podemos proteger os dados obtidos de terceiros de acordo com as
          práticas
          descritas nesta declaração, além de quaisquer restrições adicionais impostas pela fonte dos dados. Essas
          fontes de terceiros variam ao longo do tempo, mas têm incluído:
        </p>
        <p>
          Agentes de dados dos quais adquirimos dados demográficos e comportamentais para complementar os dados que
          coletamos.
          Redes sociais quando você concede permissão a um produto da Microsoft para acessar os dados em uma ou mais
          redes. Provedores de serviço que nos ajudam a determinar uma localização com base no endereço IP para
          personalizar
          determinados produtos para a sua localização. Os parceiros com os quais oferecemos serviços de colaboração
          com outras marcas ou nos envolvemos em atividades de marketing conjuntas, e fontes disponíveis publicamente,
          como dados de domínio público. Você pode escolher quais dados pretende que sejam coletados, quando forem
          solicitados dados pessoais, você poderá se recusar a fornecê-los. Mas se optar por não disponibilizar os
          dados necessários ao fornecimento de um produto ou um recurso talvez não consiga usá-los.
        </p>
        <p>
          Os dados que coletamos dependem do contexto de suas interações as opções que você escolhe, incluindo as suas
          configurações de privacidade e os produtos e recursos que você usa em seu navegador de internet. Os dados
          que coletamos podem incluir o quanto segue:
        </p>
        <p>
          Nome e dados de contato. Coletamos seu nome e sobrenome, email, endereço, número de telefone e outros dados de
          contato semelhantes.
        </p>
        <p> Dados demográficos. Coletamos dados sobre você, por exemplo, idade, sexo, país e idioma preferencial.</p>
        <p>
          Dados de diagnóstico e uso. Coletamos dados sobre o seu dispositivo e como você e seu dispositivo interagem com
          a Microsoft e os nossos produtos. Por exemplo, poderemos coletar:
        </p>
        <p>
          Dados do dispositivo, conectividade e configuração. Coletamos dados sobre o dispositivo e a rede que você usa
          para se conectar aos nossos produtos.
        </p>
        <p>
          Dados de localização. No que se refere aos produtos com recursos de localização avançada, coletamos dados sobre
          a sua localização, que podem ser precisos ou imprecisos. Dados de localização precisos podem ser originados
          de dados de GNSS (Global Navigation Satellite System), Sistema de Satélite de Navegação Global, (GPS, por
          exemplo) bem como dados que identifiquem torres de comunicações móveis e hotspots Wi-Fi, que são coletados
          quando você ativa produtos ou serviços com base na localização.
        </p>
        <p>
          Dados de localização imprecisos incluem, por exemplo, uma localização derivada de seu endereço IP ou dados que
          indiquem sua localização com menos precisão, por exemplo, uma cidade ou o CEP.
        </p>
        <p>
          Nosso Uso dos Serviços de Análise e Web Beacons
          <strong>(Web Beacon. Web Beacons ou Web Bugs</strong> são umas séries de técnicas utilizadas para monitorar
          quem
          está lendo uma página na
          <strong>web</strong>, email e/ou dados do computador. Também pode ser usado para verificar se um determinado
          e-mail
          foi lido ou se uma determinada matéria foi copiada indevidamente para outro site)
        </p>
        <p>
          As páginas da Web podem conter imagens eletrônicas conhecidas como web beacons (também designados gifs de pixel único)
          que usamos para ajudar a enviar os cookies de nossos sites, contabilizar os usuários que visitaram esses sites e
          fornecer produtos de marketing conjunto. Também incluímos web beacons em nossas mensagens de e-mail promocionais, push
          notification ou newsletters para determinar se esses itens são abertos ou utilizados. </p>
        <p>
          Além de colocarmos web beacons em nossos próprios sites, às vezes, colaboramos com outras empresas para que sejam
          colocados web beacons em seus sites ou em seus anúncios. Isso nos ajuda a desenvolver estatísticas sobre de que forma
          clicar em um anúncio em um site da Projeto Mosaico e ou de parceiros, onde pode resultar em uma compra ou em outra ação
          no site do anunciante.
        </p>
        <p>
          Finalmente, os produtos da Projeto Mosaico poderão conter web beacons ou tecnologias semelhantes de fornecedores de
          análise externos que nos ajudam a compilar estatísticas agregadas sobre a eficácia de nossas campanhas promocionais ou
          outras operações. Essas tecnologias permitem aos fornecedores de serviços de análise definir ou ler seus próprios
          cookies ou outros identificadores em seu dispositivo, por meio dos quais podem coletar informações sobre suas
          atividades online nos aplicativos, sites ou outros produtos. Contudo, proibimos esses fornecedores de serviços de
          análise de usarem web beacons em nossos sites de forma a coletar ou acessar a informações que o identifiquem
          diretamente (como seu nome ou endereço de email). O usuário pode cancelar a coleta ou o uso de dados por parte de um
          e-mail enviado para
          <a href="mailto:contato@projetomosaico.com.br?Subject=Não%20quero%20participar" target="_top">contato@projetomosaico.com.br</a>
        </p>
        <div>
          <p class="link-topo">
            <a href="privacidade#menu" title="Voltar ao Topo da Página">
              <i class="fa fa-sort-up"></i> Topo
            </a>
          </p>
        </div>
      </div>
    </div>
    <div id="item5" class='pt-5'>
      <h2>5. Com quem suas informações podem ser compartilhadas</h2>
      <div>
        <p>
          Parceiros de negócios e patrocinadores ou clientes Projeto Mosaico: a Projeto Mosaico pode divulgar suas informações a alguns
          parceiros,
          patrocinadores, anunciantes e demais. Alguns ou todos os dados coletados durante uma promoção e ou
          preenchimento
          de formulário podem ser compartilhados com um patrocinador e ou cliente.
        </p>
        <p>
          Canal de Compras, Apps e ou sites de compras: Se você adquirir um produto ou serviço da Projeto Mosaico ou cliente ou
          parceiro,
          as informações obtidas durante a sua visita às lojas e as informações que você fornecer às mesmas, tais como
          o número do seu cartão de crédito e dados para contato, são automaticamente repassadas aos lojistas e não
          a Projeto Mosaico. A Projeto Mosaico não armazena dados de cartões de crédito e não se responsabiliza por essas políticas
          independentes.
          Para obter mais informações sobre o lojista, sua loja e suas políticas de privacidade, retorne à página inicial
          dessa loja e localize o link da respectiva política.
        </p>
        <p>
          A Projeto Mosaico poderá divulgar informações sobre o usuário quando exigido por lei e com objetivos administrativos ou
          outros que considerarmos necessários para manter e aprimorar nossos produtos e serviços.
        </p>
          <div>
            <p class="link-topo">
              <a href="privacidade#menu" title="Voltar ao Topo da Página">
                <i class="fa fa-sort-up"></i> Topo
              </a>
            </p>
          </div>
      </div>
    </div>
    <div id="item6" class='pt-5'>
      <h2>6. Quais são as suas opções a respeito da coleta, uso e distribuição de suas informações</h2>
      <div>
        <p>
          Você também tem opções em relação aos cookies. Modificando suas preferências de navegação, você tem a opção de aceitar
          todos os cookies, ser notificado quando um cookie for enviado ou rejeitar todos os cookies. Se você optar por rejeitar
          todos os cookies, não conseguirá usar alguns dos serviços da Projeto Mosaico e seus parceiros que requerem registro
          para participação. Também não poderá usufruir de todos benefícios e facilidades de uma experiência personalizada na
          Internet. 
        </p>
        <p>
          <strong>A Projeto Mosaico poderá comercializar</strong> informações de seus usuários e ou visitantes. Na ocasião da coleta
          ou
          transferência dos dados, caso as informações a seu respeito sejam compartilhadas com terceiros e com seu
          consentimento dentro dessa política de privacidade.
        </p>
        <p>
          Se não desejar que eles sejam compartilhados, você poderá optar por não usar um determinado serviço ou não
          participar
          de certas promoções ou concursos e ou enviar um e-mail para
          <a href="mailto:contato@projetomosaico.com.br?Subject=Não%20quero%20participar" target="_top">contato@projetomosaico.com.br</a>,
          solicitando sua exclusão.
        </p>
        <div>
          <p class="link-topo">
            <a href="privacidade#menu" title="Voltar ao Topo da Página">
              <i class="fa fa-sort-up"></i> Topo
            </a>
          </p>
        </div>
      </div>
    </div>
    <div id="item7" class='pt-5'>
      <h2>7. Como a Projeto Mosaico trata suas informações relativas a finanças pessoais.</h2>
      <div>
        <p>
          Observe que poderá existir locais na rede de Sites da Projeto Mosaico e ou sites de parceiros nos quais você pode
          transmitir
          informações sobre cartão de crédito para concluir uma transação de compra de produto ou serviço. Sempre que
          solicitamos um número de cartão de crédito nós transmitimos esse número no formato criptografado. Utilizamos
          a criptografia padrão da indústria, SSL (Secure Sockets Layer, camada de soquetes de segurança). A Projeto Mosaico não
          armazena essa informação.
        </p>
        <div>
          <p class="link-topo">
            <a href="privacidade#menu" title="Voltar ao Topo da Página">
              <i class="fa fa-sort-up"></i> Topo
            </a>
          </p>
        </div>
      </div>
    </div>
    <div id="item8" class='pt-5'>
      <h2>8. O que mais você precisa saber sobre sua privacidade on-line</h2>
      <div>
        <p>
          Em última análise você é o responsável pela manutenção de sua privacidade e pelo sigilo de suas senhas e/ou
          informações
          pessoais.
        </p>
        <p> Sendo assim, recomendamos:</p>
        <p>
          Informe-se: ao acessar a Internet sempre busque a política/declaração de privacidade do Site que você está
          acessando.
        </p>
        <p>
          Use senhas complexas. Senhas simples são fáceis de serem quebradas. Use senhas complexas de combinações
          bastante
          longas de letras e números que necessitam combinações pouco usuais do teclado.
        </p>
        <p>
          Nunca forneça sua senha a ninguém on-line. Apenas forneça sua senha ao realizar compras pessoalmente. Se sua
          senha foi fornecida, mude-a imediatamente.
        </p>
        <p>
          Caso decida não concordar com essa politica de privacidade, envie um e-mail para
          <a href="mailto:contato@projetomosaico.com.br?Subject=Não%20quero%20participar" target="_top">contato@projetomosaico.com.br</a>
          e solicite sua exclusão.
        </p>
        <p>
          Anúncios pessoais e salas de bate-papo são de domínio público. Qualquer informação que você torne disponível em salas
          de bate-papo, em fóruns ou em anúncios pessoais estará disponível a qualquer pessoa com acesso a esses locais.
          Sugerimos que você evite incluir informações que permitam às pessoas encontrá-lo, tais como o número de seu telefone ou
          seu endereço para correspondência. 
        </p>
        <p>
          <strong>
            Você pode excluir com facilidade qualquer cookie que tenha sido instalado na pasta de cookies do seu navegador. Veja
            instruções sobre como ativar e desativar cookies em vários navegadores: </strong>
          <i>
            lembrando que uma vez que seu navegador, device, computador, celular ou tablet conter cookie(s), fará parte de uma base
            histórica de cookies identificados ou não, devido a navegação anterior a limpeza ou exclusão dos cookies.Verifique as
            páginas de suporte de configurações de cookies do seu navegador para ver as instruções mais atualizadas disponíveis.
          </i>
        </p>
        <h6>
          Agradecemos sua atenção e sempre verifique novos conteúdos de nosso termo de privacidade, conforme data de atualização.
        </h6>
        <div>
          <p class="link-topo">
            <a href="privacidade#menu" title="Voltar ao Topo da Página">
              <i class="fa fa-sort-up"></i> Topo
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
